@charset "UTF-8";
@-webkit-keyframes buttonCircle {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 80px; } }
@-moz-keyframes buttonCircle {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 80px; } }
@-o-keyframes buttonCircle {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 80px; } }
@keyframes buttonCircle {
  from {
    width: 0;
    height: 0; }
  to {
    width: 100%;
    height: 80px; } }
@-webkit-keyframes inputFocus {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 100%; } }
@-moz-keyframes inputFocus {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 100%; } }
@-o-keyframes inputFocus {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 100%; } }
@keyframes inputFocus {
  from {
    opacity: 0;
    width: 0; }
  to {
    opacity: 1;
    width: 100%; } }
@-webkit-keyframes clickCircle {}
@-moz-keyframes clickCircle {}
@-o-keyframes clickCircle {}
@keyframes clickCircle {}
@-webkit-keyframes inputBlur {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes inputBlur {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes inputBlur {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes inputBlur {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-moz-keyframes rotate {
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg); } }
@-o-keyframes rotate {
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg); } }
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg); } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.fadeOut-enter-active {
  -webkit-animation: fadeIn;
     -moz-animation: fadeIn;
       -o-animation: fadeIn;
          animation: fadeIn;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-in;
     -moz-animation-timing-function: ease-in;
       -o-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }
.fadeOut-leave-active {
  -webkit-animation-name: fadeOut;
     -moz-animation-name: fadeOut;
       -o-animation-name: fadeOut;
          animation-name: fadeOut;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
       -o-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }
@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-moz-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -moz-transform: translate3d(0, -3000px, 0);
         transform: translate3d(0, -3000px, 0); }
  60% {
    -moz-transform: translate3d(0, 25px, 0);
         transform: translate3d(0, 25px, 0); }
  75% {
    opacity: 1;
    -moz-transform: translate3d(0, -10px, 0);
         transform: translate3d(0, -10px, 0); }
  90% {
    -moz-transform: translate3d(0, 5px, 0);
         transform: translate3d(0, 5px, 0); }
  to {
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0); } }
@-o-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }
  60% {
    transform: translate3d(0, 25px, 0); }
  75% {
    opacity: 1;
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: translate3d(0, 0, 0); } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
       -moz-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0); }
  60% {
    -webkit-transform: translate3d(0, 25px, 0);
       -moz-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0); }
  75% {
    opacity: 1;
    -webkit-transform: translate3d(0, -10px, 0);
       -moz-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
       -moz-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
@-moz-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
         transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
         transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
         transform: translate3d(0, -2000px, 0); } }
@-o-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0); } }
@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
         transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
         transform: translate3d(0, 20px, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    -moz-transform: translate3d(0, -2000px, 0);
         transform: translate3d(0, -2000px, 0); } }
.bounce-enter-active, .bounce-leave-active {
  -webkit-animation: bounceInDown .5s;
     -moz-animation: bounceInDown .5s;
       -o-animation: bounceInDown .5s;
          animation: bounceInDown .5s; }
.bounce-enter, .bounce-leave-to {
  -webkit-animation: bounceOutUp .5s;
     -moz-animation: bounceOutUp .5s;
       -o-animation: bounceOutUp .5s;
          animation: bounceOutUp .5s; }
@-webkit-keyframes zoomIn {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@-moz-keyframes zoomIn {
  from, 60%, 75%, 90%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
         transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@-o-keyframes zoomIn {
  from, 60%, 75%, 90%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
       -moz-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@-webkit-keyframes zoomOut {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
@-moz-keyframes zoomOut {
  from, 60%, 75%, 90%, to {
    -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5;
    -moz-transform: scale3d(0.3, 0.3, 0.3);
         transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
@-o-keyframes zoomOut {
  from, 60%, 75%, 90%, to {
    -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
@keyframes zoomOut {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
         -o-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
       -moz-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
.zoom-enter-active {
  -webkit-animation: zoomIn .35s;
     -moz-animation: zoomIn .35s;
       -o-animation: zoomIn .35s;
          animation: zoomIn .35s; }
.zoom-leave-to {
  -webkit-animation: zoomOut .35s;
     -moz-animation: zoomOut .35s;
       -o-animation: zoomOut .35s;
          animation: zoomOut .35s; }
/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slideR-enter-active {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }
.slideR-leave-active {
  -webkit-transition: all 0.3s cubic-bezier(1, 0.8, 0.1, 1);
  -o-transition: all 0.3s cubic-bezier(1, 0.8, 0.1, 1);
  -moz-transition: all 0.3s cubic-bezier(1, 0.8, 0.1, 1);
  transition: all 0.3s cubic-bezier(1, 0.8, 0.1, 1); }
.slideR-enter, .slideR-leave-to {
  -webkit-transform: translateX(375px);
     -moz-transform: translateX(375px);
      -ms-transform: translateX(375px);
       -o-transform: translateX(375px);
          transform: translateX(375px);
  opacity: 0; }
.lang-enter-active {
  -webkit-animation: langup;
     -moz-animation: langup;
       -o-animation: langup;
          animation: langup;
  -webkit-animation-duration: .3s;
     -moz-animation-duration: .3s;
       -o-animation-duration: .3s;
          animation-duration: .3s; }
.lang-leave-active {
  -webkit-animation-name: langdown;
     -moz-animation-name: langdown;
       -o-animation-name: langdown;
          animation-name: langdown;
  -webkit-animation-duration: .3s;
     -moz-animation-duration: .3s;
       -o-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
       -o-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }
@-webkit-keyframes langup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 108px; } }
@-moz-keyframes langup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 108px; } }
@-o-keyframes langup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 108px; } }
@keyframes langup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 108px; } }
@-webkit-keyframes langdown {
  0% {
    height: 108px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@-moz-keyframes langdown {
  0% {
    height: 108px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@-o-keyframes langdown {
  0% {
    height: 108px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@keyframes langdown {
  0% {
    height: 108px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
.grow-enter-active {
  -webkit-animation: growup;
     -moz-animation: growup;
       -o-animation: growup;
          animation: growup;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-in;
     -moz-animation-timing-function: ease-in;
       -o-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }
.grow-leave-active {
  -webkit-animation-name: growdown;
     -moz-animation-name: growdown;
       -o-animation-name: growdown;
          animation-name: growdown;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
       -o-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }
@-webkit-keyframes growup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 323px; } }
@-moz-keyframes growup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 323px; } }
@-o-keyframes growup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 323px; } }
@keyframes growup {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    height: 323px; } }
@-webkit-keyframes growdown {
  0% {
    height: 323px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@-moz-keyframes growdown {
  0% {
    height: 323px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@-o-keyframes growdown {
  0% {
    height: 323px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@keyframes growdown {
  0% {
    height: 323px; }
  50% {
    opacity: 0; }
  100% {
    height: 0;
    opacity: 0; } }
@-webkit-keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scale(0);
            transform: translate3d(100%, 0, 0) scale(0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%); } }
@-moz-keyframes rollIn {
  from {
    opacity: 0;
    -moz-transform: translate3d(100%, 0, 0) scale(0);
         transform: translate3d(100%, 0, 0) scale(0); }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0) scale(100%);
         transform: translate3d(0, 0, 0) scale(100%); } }
@-o-keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0) scale(0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(100%); } }
@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0) scale(0);
       -moz-transform: translate3d(100%, 0, 0) scale(0);
            transform: translate3d(100%, 0, 0) scale(0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) scale(100%);
       -moz-transform: translate3d(0, 0, 0) scale(100%);
            transform: translate3d(0, 0, 0) scale(100%); } }
@-webkit-keyframes rollOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8;
    -webkit-transform: translate3d(100%, -20%, 0) scale(0.8);
            transform: translate3d(100%, -20%, 0) scale(0.8); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(150%, -30%, 0) scale(0);
            transform: translate3d(150%, -30%, 0) scale(0); } }
@-moz-keyframes rollOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8;
    -moz-transform: translate3d(100%, -20%, 0) scale(0.8);
         transform: translate3d(100%, -20%, 0) scale(0.8); }
  100% {
    opacity: 0;
    -moz-transform: translate3d(150%, -30%, 0) scale(0);
         transform: translate3d(150%, -30%, 0) scale(0); } }
@-o-keyframes rollOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8;
    transform: translate3d(100%, -20%, 0) scale(0.8); }
  100% {
    opacity: 0;
    transform: translate3d(150%, -30%, 0) scale(0); } }
@keyframes rollOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8;
    -webkit-transform: translate3d(100%, -20%, 0) scale(0.8);
       -moz-transform: translate3d(100%, -20%, 0) scale(0.8);
            transform: translate3d(100%, -20%, 0) scale(0.8); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(150%, -30%, 0) scale(0);
       -moz-transform: translate3d(150%, -30%, 0) scale(0);
            transform: translate3d(150%, -30%, 0) scale(0); } }
.roll-enter-active {
  -webkit-animation: rollIn;
     -moz-animation: rollIn;
       -o-animation: rollIn;
          animation: rollIn;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-in;
     -moz-animation-timing-function: ease-in;
       -o-animation-timing-function: ease-in;
          animation-timing-function: ease-in; }
.roll-leave-active {
  -webkit-animation-name: rollOut;
     -moz-animation-name: rollOut;
       -o-animation-name: rollOut;
          animation-name: rollOut;
  -webkit-animation-duration: .35s;
     -moz-animation-duration: .35s;
       -o-animation-duration: .35s;
          animation-duration: .35s;
  -webkit-animation-timing-function: ease-out;
     -moz-animation-timing-function: ease-out;
       -o-animation-timing-function: ease-out;
          animation-timing-function: ease-out; }
@media screen and (max-width: 979px) {
  @-webkit-keyframes langup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 1.44rem; } }
  @-moz-keyframes langup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 1.44rem; } }
  @-o-keyframes langup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 1.44rem; } }
  @keyframes langup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 1.44rem; } }
  @-webkit-keyframes langdown {
    0% {
      height: 1.44rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-moz-keyframes langdown {
    0% {
      height: 1.44rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-o-keyframes langdown {
    0% {
      height: 1.44rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @keyframes langdown {
    0% {
      height: 1.44rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-webkit-keyframes growup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 4.30667rem; } }
  @-moz-keyframes growup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 4.30667rem; } }
  @-o-keyframes growup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 4.30667rem; } }
  @keyframes growup {
    0% {
      height: 0;
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      height: 4.30667rem; } }
  @-webkit-keyframes growdown {
    0% {
      height: 4.30667rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-moz-keyframes growdown {
    0% {
      height: 4.30667rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-o-keyframes growdown {
    0% {
      height: 4.30667rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @keyframes growdown {
    0% {
      height: 4.30667rem; }
    50% {
      opacity: 0; }
    100% {
      height: 0;
      opacity: 0; } }
  @-webkit-keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) scale(0);
              transform: translate3d(100%, 0, 0) scale(0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(100%);
              transform: translate3d(0, 0, 0) scale(100%); } }
  @-moz-keyframes rollIn {
    from {
      opacity: 0;
      -moz-transform: translate3d(100%, 0, 0) scale(0);
           transform: translate3d(100%, 0, 0) scale(0); }
    to {
      opacity: 1;
      -moz-transform: translate3d(0, 0, 0) scale(100%);
           transform: translate3d(0, 0, 0) scale(100%); } }
  @-o-keyframes rollIn {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0) scale(0); }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0) scale(100%); } }
  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) scale(0);
         -moz-transform: translate3d(100%, 0, 0) scale(0);
              transform: translate3d(100%, 0, 0) scale(0); }
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) scale(100%);
         -moz-transform: translate3d(0, 0, 0) scale(100%);
              transform: translate3d(0, 0, 0) scale(100%); } }
  @-webkit-keyframes rollOut {
    0% {
      opacity: 1; }
    50% {
      opacity: 0.8;
      -webkit-transform: translate3d(50%, 20%, 0) scale(0.5);
              transform: translate3d(50%, 20%, 0) scale(0.5); }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 30%, 0) scale(0);
              transform: translate3d(100%, 30%, 0) scale(0); } }
  @-moz-keyframes rollOut {
    0% {
      opacity: 1; }
    50% {
      opacity: 0.8;
      -moz-transform: translate3d(50%, 20%, 0) scale(0.5);
           transform: translate3d(50%, 20%, 0) scale(0.5); }
    100% {
      opacity: 0;
      -moz-transform: translate3d(100%, 30%, 0) scale(0);
           transform: translate3d(100%, 30%, 0) scale(0); } }
  @-o-keyframes rollOut {
    0% {
      opacity: 1; }
    50% {
      opacity: 0.8;
      transform: translate3d(50%, 20%, 0) scale(0.5); }
    100% {
      opacity: 0;
      transform: translate3d(100%, 30%, 0) scale(0); } }
  @keyframes rollOut {
    0% {
      opacity: 1; }
    50% {
      opacity: 0.8;
      -webkit-transform: translate3d(50%, 20%, 0) scale(0.5);
         -moz-transform: translate3d(50%, 20%, 0) scale(0.5);
              transform: translate3d(50%, 20%, 0) scale(0.5); }
    100% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 30%, 0) scale(0);
         -moz-transform: translate3d(100%, 30%, 0) scale(0);
              transform: translate3d(100%, 30%, 0) scale(0); } }
  .roll-enter-active {
    -webkit-animation: rollIn;
       -moz-animation: rollIn;
         -o-animation: rollIn;
            animation: rollIn;
    -webkit-animation-duration: .35s;
       -moz-animation-duration: .35s;
         -o-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-in;
       -moz-animation-timing-function: ease-in;
         -o-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  .roll-leave-active {
    -webkit-animation-name: rollOut;
       -moz-animation-name: rollOut;
         -o-animation-name: rollOut;
            animation-name: rollOut;
    -webkit-animation-duration: .35s;
       -moz-animation-duration: .35s;
         -o-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }
@-webkit-keyframes upData {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }
@-moz-keyframes upData {
  0% {
    -moz-transform: translateY(15px);
         transform: translateY(15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(-15px);
         transform: translateY(-15px); } }
@-o-keyframes upData {
  0% {
    -o-transform: translateY(15px);
       transform: translateY(15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -o-transform: translateY(-15px);
       transform: translateY(-15px); } }
@keyframes upData {
  0% {
    -webkit-transform: translateY(15px);
       -moz-transform: translateY(15px);
         -o-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-15px);
       -moz-transform: translateY(-15px);
         -o-transform: translateY(-15px);
            transform: translateY(-15px); } }
@-webkit-keyframes upDataMin {
  0% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); } }
@-moz-keyframes upDataMin {
  0% {
    -moz-transform: translateY(8px);
         transform: translateY(8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(-8px);
         transform: translateY(-8px); } }
@-o-keyframes upDataMin {
  0% {
    -o-transform: translateY(8px);
       transform: translateY(8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -o-transform: translateY(-8px);
       transform: translateY(-8px); } }
@keyframes upDataMin {
  0% {
    -webkit-transform: translateY(8px);
       -moz-transform: translateY(8px);
         -o-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
         -o-transform: translateY(-8px);
            transform: translateY(-8px); } }
@-webkit-keyframes downData {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px); } }
@-moz-keyframes downData {
  0% {
    -moz-transform: translateY(-15px);
         transform: translateY(-15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(15px);
         transform: translateY(15px); } }
@-o-keyframes downData {
  0% {
    -o-transform: translateY(-15px);
       transform: translateY(-15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -o-transform: translateY(15px);
       transform: translateY(15px); } }
@keyframes downData {
  0% {
    -webkit-transform: translateY(-15px);
       -moz-transform: translateY(-15px);
         -o-transform: translateY(-15px);
            transform: translateY(-15px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15px);
       -moz-transform: translateY(15px);
         -o-transform: translateY(15px);
            transform: translateY(15px); } }
@-webkit-keyframes downDataMin {
  0% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(8px);
            transform: translateY(8px); } }
@-moz-keyframes downDataMin {
  0% {
    -moz-transform: translateY(-8px);
         transform: translateY(-8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: translateY(8px);
         transform: translateY(8px); } }
@-o-keyframes downDataMin {
  0% {
    -o-transform: translateY(-8px);
       transform: translateY(-8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -o-transform: translateY(8px);
       transform: translateY(8px); } }
@keyframes downDataMin {
  0% {
    -webkit-transform: translateY(-8px);
       -moz-transform: translateY(-8px);
         -o-transform: translateY(-8px);
            transform: translateY(-8px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(8px);
       -moz-transform: translateY(8px);
         -o-transform: translateY(8px);
            transform: translateY(8px); } }
@font-face {
  font-family: 'dobi';
  src: url("/fonts/dobi.eot?v=123456");
  src: url("/fonts/dobi.eot?v=123456") format("embedded-opentype"), url("/fonts/dobi.ttf?v=123456") format("truetype"), url("/fonts/dobi.woff?v=123456") format("woff");
  font-weight: normal;
  font-style: normal; }
[class$="_icon"], [class~="icon"], [class*='_icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "dobi" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  -moz-font-variant-ligatures: discretionary-ligatures;
       font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.dobi_logo_icon {
  display: inline-block;
  color: #ffbd09; }
.dobi_logo_icon:before {
    content: "\E90C"; }
.account_icon:before {
  content: "\E909"; }
.user_icon:before {
  content: "\E91D"; }
.close_icon:hover {
  cursor: pointer; }
.close_icon:before {
  content: "\E904"; }
.ctrl_icon {
  position: relative; }
.ctrl_icon:after {
    content: "\E900";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -16px;
    font-size: 18px;
    -webkit-transform: scaleX(1.2);
       -moz-transform: scaleX(1.2);
        -ms-transform: scaleX(1.2);
         -o-transform: scaleX(1.2);
            transform: scaleX(1.2);
    color: #fff; }
.link::after {
  top: -5px; }
.more_icon:after {
  content: "\E900";
  display: inline-block;
  text-align: center; }
.default_tips_icon {
  position: relative;
  top: 2px; }
.default_tips_icon:before {
    content: "\E926"; }
.err_tips_icon {
  position: relative;
  top: 1px; }
.err_tips_icon:before {
    content: "\E906"; }
.line_bar_icon {
  position: relative;
  top: 1px; }
.line_bar_icon:before {
    content: "\E907"; }
.black_Bang_icon {
  position: relative;
  top: 1px; }
.black_Bang_icon:before {
    content: "\E905"; }
.order_ok_icon:before {
  content: "\E90E"; }
.logout_icon {
  position: relative;
  top: 3px; }
.logout_icon:before {
    content: "\E912";
    -webkit-transform: scale3d(1, 1, 1.2);
       -moz-transform: scale3d(1, 1, 1.2);
            transform: scale3d(1, 1, 1.2); }
.eye_icon:before {
  content: "\E927"; }
.arrowdown_icon:before {
  content: "\E91A";
  display: inline-block;
  -webkit-transform: rotateZ(180deg);
     -moz-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotateZ(180deg);
          transform: rotateZ(180deg); }
.arrowup_icon:before {
  content: "\E91A"; }
[v-cloak] {
  display: none !important; }
html, body {
  margin: 0;
  width: 100%;
  font-family: 'Microsoft YaHei', Helvetica, Arial, simhei, sanserif;
  font-size: 14px;
  min-width: 1200px;
  min-height: 700px; }
.min_cot {
  min-width: 1200px;
  min-height: 700px; }
h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dd, dt, p {
  margin: 0;
  padding: 0; }
ul, li, ol, dl, dd, dt {
  list-style: none; }
p {
  word-wrap: break-word; }
input {
  padding: 0;
  outline: none; }
a {
  text-decoration: none; }
button {
  border: none;
  outline: none;
  background-color: transparent; }
button:hover {
    cursor: pointer;
    outline: none; }
.clearFix:after {
  content: "";
  display: table;
  width: 0;
  height: 0;
  font-size: 0;
  clear: both; }
.over_ellipsis {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden; }
.margin_left_z {
  margin-left: 0 !important; }
.margin_right_z {
  margin-right: 0 !important; }
.relative_dom {
  position: relative; }
.abs_dom {
  position: absolute; }
.no_scroll_body {
  overflow: hidden; }
.hide_dom {
  display: none !important; }
.no_boder {
  border: none; }
.upper_word {
  text-transform: uppercase; }
.no_sel {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.default_btn {
  width: 100%;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
.more_hv_icon:after {
  -webkit-transform: rotateZ(-180deg) scaleX(1.2);
     -moz-transform: rotateZ(-180deg) scaleX(1.2);
      -ms-transform: rotate(-180deg) scaleX(1.2);
       -o-transform: rotateZ(-180deg) scaleX(1.2);
          transform: rotateZ(-180deg) scaleX(1.2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s; }
html, body {
  height: 100%;
  overflow-x: hidden; }
.hide-dom {
  display: none !important; }
.res_contain {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 120px 0 0;
  height: 90%; }
.res_contain .pwd_title {
    line-height: 50px;
    font-size: 22px; }
.res_contain .tips_lable {
    padding: 10px 0 0;
    text-indent: 17px;
    line-height: 14px;
    font-size: 12px; }
.res_contain .vis_pwd {
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 11px;
    padding: 5px;
    font-size: 23px;
    color: #ccc;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s; }
.res_contain .vis_pwd:hover {
      cursor: pointer;
      color: #666;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s; }
.res_contain .act_vis {
    color: #ffbd09; }
.res_contain .act_vis:hover {
      cursor: pointer;
      color: #ffbd09;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s; }
.res_contain .form_input {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    padding: 4px;
    width: 350px;
    line-height: 42px; }
.res_contain .form_input > label {
      display: inline-block;
      width: 46px;
      height: 43px; }
.res_contain .form_input > input {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      border: none;
      width: 296px;
      height: 42px;
      line-height: 40px;
      border-bottom: 1px solid #dcdcdc;
      -webkit-transition: all .35s;
      -o-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s; }
.res_contain .form_input > input:hover {
        border-bottom: 1px solid #eeae00;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s; }
.res_contain .form_input > input:focus {
        border-bottom: 2px solid #ffbd09;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        -moz-transition: all .35s;
        transition: all .35s; }
.res_contain .short_input > input {
    width: 200px; }
.res_contain .short_input > img, .res_contain .short_input > button {
    display: inline-block;
    width: 94px;
    height: 42px; }
.res_contain .short_input > button {
    white-space: nowrap;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #ffbd09; }
.res_contain .chg_btn {
    font-size: 12px; }
.res_contain .chg_btn a:hover {
      cursor: pointer; }
.res_contain .tips_line {
    line-height: 18px;
    text-indent: 46px;
    font-size: 12px; }
.res_contain .max_tip {
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 17px;
    background: url(/imgs/pwd_strong.svg) no-repeat left center;
    -webkit-background-size: 13px 13px;
       -moz-background-size: 13px 13px;
         -o-background-size: 13px 13px;
            background-size: 13px 13px; }
.res_contain .pwd_label {
    background: url(/imgs/user_login_password.svg) no-repeat center center;
    -webkit-background-size: 20px 24px;
       -moz-background-size: 20px 24px;
         -o-background-size: 20px 24px;
            background-size: 20px 24px; }
.res_contain .trade_pwd_label {
    background: url(/imgs/user_tradepwd.svg) no-repeat center center;
    -webkit-background-size: 22px 27px;
       -moz-background-size: 22px 27px;
         -o-background-size: 22px 27px;
            background-size: 22px 27px; }
.res_contain .img_label {
    background: url(/imgs/user_captcha.svg) no-repeat center center;
    -webkit-background-size: 20px 24px;
       -moz-background-size: 20px 24px;
         -o-background-size: 20px 24px;
            background-size: 20px 24px; }
.res_contain .vs_code_lable {
    background: url(/imgs/user_code.svg) no-repeat center center;
    -webkit-background-size: 20px 24px;
       -moz-background-size: 20px 24px;
         -o-background-size: 20px 24px;
            background-size: 20px 24px; }
.res_contain .form_submit {
    padding: 25px 0 0;
    width: 350px; }
.res_contain .form_submit > .submit_btn {
      width: 100%;
      height: 43px;
      font-size: 18px;
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
              border-radius: 3px;
      border: none; }
.res_contain .form_submit > .disabled_btn:hover {
      cursor: not-allowed; }
.res_contain .fix_succ {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5); }
.res_contain .succ_win {
    width: 438px;
    height: 346px; }
.res_contain .succ_win .close_btn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 25px;
      opacity: 0.35; }
.res_contain .succ_win .close_btn:hover {
        cursor: pointer; }
.res_contain .succ_win img {
      width: 100%; }
.res_contain .succ_win .white_space {
      padding: 0 53px;
      height: 156px; }
.res_contain .succ_win .white_space > p {
        padding: 27px 0 24px;
        text-align: center;
        font-size: 16px; }
.res_contain .succ_win .white_space > a {
        display: block;
        width: 100%;
        height: 44px;
        line-height: 44px;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        text-align: center;
        -webkit-transition: all .35;
        -o-transition: all .35;
        -moz-transition: all .35;
        transition: all .35; }
.res_contain .succ_win .white_space > a:hover {
          opacity: 0.8;
          -webkit-transition: all .35;
          -o-transition: all .35;
          -moz-transition: all .35;
          transition: all .35; }

/*# sourceMappingURL=index.passwordupgrade.css.map*/