@import "../config.scss";
@import "../color.scss";
// 响应式
// @import "./left_767.scss";
// @import "./left_980.scss";
// @media screen and (min-width: $superScreenMin) {
//内容部分开始到头部导航部分
.fn_bg_content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 70px;
    overflow: hidden;
    ;
    overflow-y: auto;
    min-width: 1200px;
    min-height: 1013px;
    overflow: visible;
}

.left_nav {
    width: 223px;
    // box-shadow: 0px 4px 5px rgba(14, 25, 43, 0.3) inset;
    background: #fff;
    .left_first {
    }
    .left_dl:not(:last-child) {
        border-bottom: 1px solid #eee;
        padding: 0 0 15px 0;
        border-right: solid 1px #f7f7f7;

    }
    .left_dl {
        .left_dl_title {
            // text-align: center;
            font-size: 16px;
            text-indent: 15px;
            line-height: 61px;
            color: #333;
            &:before {
                content: '';
                position: relative;
                display: inline-block;
                width: 20px;
                height: 15px;
                background: url(../../assets/user_default_icon.png) left center no-repeat;
            }
        }
        .my-money {
            &:before {
                bottom: -1px;
                background-image: url(../../assets/my_money_icon.png);
            }
        }
        .my-trade {
            &:before {
                bottom: -2px;
                background-image: url(../../assets/my_trade_icon.png);
            }
        }
        .my-plan {
            &:before {
                bottom: -1px;
                background-image: url(../../assets/master_plan.png);
            }
        }
        .left_dd {
            // text-align: center;
            .left_jump {
                display: inline-block;
                width: 100%;
                line-height: 41px;
                text-indent: 33px;
                color: #1f2533;
                &:hover {
                    color: $white100;
                    transition: all .35s;
                background: #3067f0;

                }
            }
            .u-active {
                color: $white100;
                background: #3067f0
                ;
            }
        }
    }
}

// }